<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品秒杀后台系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/temp/X-admin/css/font.css">
	<link rel="stylesheet" href="/temp/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/temp/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/temp/X-admin/js/xadmin.js"></script>

</head>
<body>
    <div class="wrapper">
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form xbs" action="" >
                <div class="layui-form-pane" style="text-align: center;">
                  <div class="layui-form-item" style="display: inline-block;">
                  </div>
                </div> 
            </form>
            <xblock><button class="layui-btn" onclick="level_add('添加日志','info','','500','600')"><i class="layui-icon">&#xe608;</i>添加</button></xblock>
             <table class="layui-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>m</th>
                        <th>c</th>
                        <th>a</th>
                        <th>querystring</th>
                         <th>用户id</th>
                        <th>用户名</th>
                         <th>ip地址</th>
                         <th>访问时间</th>
                         <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="lists" id="vo"}
                    
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.m}</td>
                        <td>{$vo.c}</td>
                        <td>{$vo.a}</td>
                        <td>{$vo.querystring}</td>
                        <td>{$vo.userid}</td>
                        <td>{$vo.username}</td>
                        <td>{$vo.ip}</td>
                        <td>{$vo.time}</td>
                  
                        <td class="td-manage">
                          <a title="编辑" href="javascript:;" onclick="member_edit('编辑','dee_edit?void={$vo.id}','4','500','600')"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                          <a title="删除" href="javascript:;"  onclick="member_del(this,'{$vo.id}')"   style="text-decoration:none">
                                 <i class="layui-icon" >&#xe640;</i>
                             </a>

                        </td>
                    </tr>
                    {/volist} 
                </tbody>
            </table>
           
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->

    <!-- 底部结束 -->
    <!-- 背景切换开始 -->

    <!-- 背景切换结束 -->
    <script>
    //百度统计可去掉
        // 用户-编辑
        function member_edit (title,url,id,w,h) {
            x_admin_show(title,url,w,h); 
        }
            // 等级-编辑

            /*等级-删除*/
             function level_add (title,url,id,w,h) {
                
                x_admin_show(title,url,w,h); 
                
            }
            function member_del(obj,id){
            layer.confirm('确认要删除这条记录吗？',function(index){
                //发异步删除数据
                $(obj).parents("tr").remove();
                //alert(id);
                var str = "{:url('delete',['id'=>'pid'])}";
                var url=str.replace('pid',id);
                window.location.href=url;
                layer.msg('已删除!',{icon:1,time:1000});
            });

          
        }
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>